<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <form action="{% url 'compras_del' obj.compra.id obj.pk %}" method="post" class="form-inline">
            {% csrf_token %}
            <div class="col-xl-12 col-md-12 mb-12">
                <div class="card border-left-danger shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    Eliminar Detalle</div>
                                <div class="dropdown-divider"></div>
                                <div class="row">
                                    <p>¿Eliminar {{ obj.producto }} de compra número <b>{{ obj.compra_id }}</b> ?</p>
                                </div>
                                <div class="dropdown-divider"></div>
                                <div class="row">
                                    <div class="col">
                                        <button type="submit" class="btn btn-success"><span
                                                class="fas fa-question-circle mr-1"></span>Si, Eliminar!</button>
                                        <button type="button" class="btn btn-danger" onclick="cerrar_modal()"><span
                                                class="fa fa-undo mr-1"></span>Cancelar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>