{% extends 'base/base.html' %}

{% block content %}
<style>
    
</style>
<form action="" method="post" class="form-inline">
    {% csrf_token %}
    <div class="col-lg-9 col-md-10">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Nueva Subcategoría</div>
                        <div class="dropdown-divider"></div>
                        <div class="row">
                            <div class="col-lg-6 col-md-12">
                                <div class="input-group">
                                    {{ form.categoria }}
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <div class="input-group">
                                    {{ form.descripcion }}
                                </div>
                            </div>
                        </div>
                        <div class="dropdown-divider"></div>
                        <div class="row">
                            <div class="col">
                                <button type="submit" class="btn btn-success"><span
                                        class="fa fa-save mr-1"></span>Guardar</button>
                                <a href="{% url 'subcategoria_list' %}" class="btn btn-danger"><span
                                        class="fa fa-undo mr-1"></span>Cancelar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock content %}

{% block js %}
{% endblock js %}