label .asteriskField{
    display: none;
}

.form-group label{
    font-weight: bold;
}
.text-1{
    color: #4e73df;
}
.text-2{
    color: #1cc88a;
}
.text-3{
    color: #36b9cc;
}
.text-4{
    color: #ff0000;
}
.text-5{
    color: #00d221;
}
.text-6{
    color: #bb007b;
}
.text-7{
    color: #ffbc14;
}
.text-8{
    color: #00bf92;
}