<div class="modal-dialog modal-lg">
    <div class="modal-content">
        {% if object %}
        <form action="{% url 'cliente_edit' object.id %}" method="post" class="form-inline">
        {% else %}
        <form action="{% url 'cliente_new' %}" method="post" class="form-inline">
        {% endif %}
            {% csrf_token %}
            <div class="col-lg-12 col-xl-12 mb-12">
                {% if object %}
                <div class="card border-left-warning shadow h-100 py-2">
                {% else %}
                <div class="card border-left-success shadow h-100 py-2">
                {% endif %}
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    {% if object %}Editar{% else %}Nuevo{% endif %} cliente</div>
                                <div class="dropdown-divider"></div>
                                <div class="row">
                                    {{ form.as_p }}
                                </div>
                                <div class="dropdown-divider"></div>
                                <div class="row">
                                    <div class="col">
                                        <button type="submit" class="btn btn-success"><span
                                                class="fa fa-save mr-1"></span>Guardar</button>
                                        <button type="button" class="btn btn-danger" onclick="cerrar_modal()"><span
                                                class="fa fa-undo mr-1"></span>Cancelar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>