{% load crispy_forms_tags %}
<form method="post">
    {% csrf_token %}
    <div class="modal-header">
        {% if object %}
        <h5 class="modal-title">Editar Proveedor <strong>{{ object.descripcion }}</strong></h5>
        {% else %}
        <h5 class="modal-title">Crear nuevo Proveedor</h5>
        {% endif %}
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col">
                <div class="form-group{% if form.nombres.errors %} invalid{% endif %}">
                    {{ form.nombres|as_crispy_field }}
                </div>
            </div>
            <div class="col">
                <div class="form-group{% if form.apellidos.errors %} invalid{% endif %}">
                    {{ form.apellidos|as_crispy_field }}
                </div>
            </div>
            <div class="col">
                <div class="form-group{% if form.telefono.errors %} invalid{% endif %}">
                    {{ form.telefono|as_crispy_field }}
                </div>
            </div>
            <div class="col">
                <div class="form-group{% if form.tipo.errors %} invalid{% endif %}">
                    {{ form.tipo|as_crispy_field }}
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="submit-btn btn btn-success"><span class="fa fa-save mr-1"></span>Guardar</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal"><span class="fa fa-undo mr-1"></span>Cancelar</button>
    </div>
</form>