<label for="" class="text-danger">¿Anular Producto <strong>{{ det.producto.descripcion }}</strong> de factura <strong>{{ det.factura.id }}</strong>?</label>
<div class="">
    <div class="form-group">
        <label for="usuario" class="control-label">Usuario</label>
        <input type="text" class="form-control" id="usuario" required>
    </div>
    <div class="form-group">
        <label for="contraseña" class="control-label">Contraseña</label>
        <input type="password" class="form-control" id="password" required>
    </div>
</div>